WebContent/WEB-INF/wsdl/vhost3.cs.rit.edu/SortServ/Service.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="GetKey"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetKeyResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetKeyResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="mergeSort"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="input" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="userKey" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="mergeSortResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="mergeSortResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="selectionSort"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="input" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="userKey" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="selectionSortResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="selectionSortResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>